@import url('https://fonts.googleapis.com/css?family=Amatic+SC|PT+Sans');

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    margin: 0;
}

p, button {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0;
}

button:focus {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -100;
}

.nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem 0;
}

.nav button {
    margin: 0 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
}

.nav button:hover {
    color: #93bcff;
}

.guild-name {
    color: #fff;
    font-size: 12rem;
    font-weight: normal;
    margin: 2rem;
    line-height: .8;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}

.guild-info,
.raid-times,
.rbg-times,
.discord {
    color: #fff;
    max-width: 750px;
    margin: 2rem auto;
    background-color: rgba(56, 56, 56, .75);
    border-radius: 20px;
    padding: 2rem;
    display: none;
}

.guild-info p,
.discord p {
    margin: 1rem 0;
}

.guild-info__title,
.raid-times__title,
.rbg-times__title,
.discord__title {
    text-align: left;
    border-bottom: 2px solid #93bcff;
    font-size: 3rem;
    margin: 0;
    padding-left: 1.5rem;
}

.raid-times__list,
.rbg-times__list {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.raid-times__list-item,
.rbg-times__list-item {
    text-align: center;
    border: 2px solid #93bcff;
    padding: 3rem;
    margin: 1rem;
}

.raid-times__list-item h4,
.rbg-times__list-item h4 {
    margin: 0;
    font-size: 2rem;
}
